---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}
  {% include page__hero_video.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">
  {% include sidebar.html %}

  <div class="archive">
    {% unless page.header.overlay_color or page.header.overlay_image %}
      <h1 id="page-title" class="page__title"{% if page.locale %} lang="{{ page.locale }}"{% endif %}>
        {{ page.title }}
      </h1>
    {% endunless %}

    {{ content }}

    <h2>카테고리별 게시물</h2>

    {% for category in site.categories %}
      {% assign posts = category[1] %}
      {% if posts.size > 0 %}
        <h3 class="archive__subtitle">{{ category[0] }}</h3>  <!-- 카테고리 이름 출력 -->

        {% assign entries_layout = page.entries_layout | default: 'list' %}
        <div class="entries-{{ entries_layout }}">
          {% include documents-collection.html entries=posts type=entries_layout %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
